body{
    height: 100%;
    width: 100%;
    margin: 0px;
}
.header{
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 10%;
    font-size: 2vw;
}
.content{
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 40%;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}
button{
    font-size: 1.5vw;
    padding: 15px;
    border-radius: 50px;
    transition: .5s ease-in;
    background-color: #ffffff;
}
button:hover{
    background-color: #bebebe;

    transform: translateY(-5px);
}